version: '3.8'

services:
  pipelines:
    image: ghcr.io/open-webui/pipelines:main
    container_name: pipelines
    ports:
      - "9099:9099"
    volumes:
      - ./rag_pipeline.py:/app/pipelines/rag_pipeline.py
      - ../src:/app/pipelines/src
      - ../config:/app/pipelines/config
      - ../data:/app/pipelines/data
    environment:
      - PYTHONPATH=/app/pipelines
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always
